<% content_for( :title, t('.title'))%>
<div class="container">
  <div class="top-wrapper">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="text-center">
          <p id="start-description">
            この診断では自身の冷え性度を知ることができます。<br>質問は合計で6問です
          </p>
          <button type="button" class="btn btn-primary" id="start-questions">診断を始める</button>
        </div>
        <div class="container mx-auto text-center">
          <%= form_with url: questions_path, method: :post, data: { turbo: false } do |f| %>
          <div class="error-message hidden px-10 py-2 mb-10 mx-10 text-sm" id="error_message">選択してください</div>
            <% @questions.each_with_index do |question, index| %>
              <div id="question_<%= index + 1 %>" class="hidden">
                <h2 class="text-center">Q<%= index + 1 %></h2>
                <div class="container mx-auto">
                  <p class=""><%= question.question_title %></p>
                  <div class="flex flex-col">
                    <% question.choices.each do |choice| %>
                      <%= f.radio_button "answers[#{question.id}]", choice.id, id: "answer_#{question.id}_#{choice.id}", data: { question_id: index + 1 } %>
                      <%= f.label "answer_#{question.id}_#{choice.id}", choice.question_body, class: '' %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
            <button type="button" data-action="previous-question" id="previous_button" class="hidden">戻る</button>
            <button type="button" data-action="next-question" id="next_button" class="hidden">次へ</button>
            <%= f.submit "結果", id: "submit-button", class: 'hidden' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
