<% content_for( :title, t('.title'))%>
<div class="container">
  <div class="top-wrapper">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h3><%= t('.title') %></h3>
      <% cold_symptom = ColdSymptom.find_by(symptom_type: @diagnosis) %>
      <p class="text-decoration-underline fw-bold"><%= @cold_symptom.localized_symptom_type %></p>
      <p><%= @cold_symptom.symptom_title %></p>
      <p><%= @cold_symptom.symptom_body %></p>
      <%= image_tag @cold_symptom.image_url, style: 'max-height: 300px; width: auto;' %><br>
      <div class="twitter">
        <%= link_to "https://x.com/share?url=https://portfolio-2-xm41.onrender.com&text=【あなたはどんな冷え性？】%0a%0a#{ @cold_symptom.symptom_title}%0a%0a %23HieMiru %23冷え性", target: '_blank' do %>
          結果を<i class="fa-brands fa-x-twitter"></i>シェアする
        <% end %>
      </div>
    </div>
  </div>
</div>
