<div class="container">
  <div class="top-wrapper">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h2>診断結果</h2>
      <p>診断結果: <%= ColdSymptom.symptom_types.key(@diagnosis) %></p>
      <% cold_symptom = ColdSymptom.find_by(symptom_type: @diagnosis) %>
      <p><%= cold_symptom.symptom_title %></p>
      <p><%= cold_symptom.symptom_body %></p>
      <%= image_tag cold_symptom.image_url, style: 'max-height: 300px; width: auto;' %>
      <%= link_to "https://x.com/share?url=http://localhost:3000/.&text=【あなたはどんな冷え性？】%0a%0a#{ cold_symptom.symptom_title}%0a%0a %23ChillOut %23冷え性", target: '_blank' do %>
        結果を<i class="fa-brands fa-x-twitter"></i>シェアする
      <% end %>
    </div>
  </div>
</div>
