<header>
  <nav class='navbar navbar-expand-lg navigation'>
    <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto main-nav align-items-center'>
        <li class='nav-item'>
          <%= link_to '冷え性診断', questions_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <% if current_user.goals.present? && current_user.goals.first.persisted? %>
            <% Rails.logger.debug "Goals: #{current_user.goals.to_a.inspect}" %>
            <%= link_to '記録', goal_path(current_user.goals.first), class: 'nav-link' %>
          <% else %>
            <%= link_to '記録', new_goal_path, class: 'nav-link' %>
          <% end %>
        </li>
        <li class='nav-item'>
          <%= link_to '分析', diaries_path, method: :delete, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</header>

